a,
a:visited {
  color: #2c2e2f;
  text-decoration: none;
}
a:hover,
a:active {
  color: #1A8CFF;
}
html {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, "Microsoft YaHei", "PingFang SC", "Hiragino Sans GB", SimSun, sans-serif;
}
html body {
  height: 100%;
  margin: 0;
  font-size: 13px;
  background: #f9f9f9;
}
html body a,
html body a:visited {
  color: #2c2e2f;
  text-decoration: none;
}
html body .page {
  height: inherit;
}
html body .page .sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 280px;
  color: #979898;
  background: #2c2e2f;
  z-index: 999;
  overflow: hidden;
  transition: 0.4s;
  height: inherit;
}
@media screen and (max-width: 1024px) {
  html body .page .sidebar {
    width: 100%;
    height: auto;
    max-height: 80px;
    transition: 0.5s ease-out;
  }
}
html body .page .sidebar .logo {
  height: 80px;
  line-height: 80px;
  font-size: 0;
  border-bottom: 1px solid #313437;
  text-align: center;
  background: url(../images/logo_large.svg) center;
  background-size: 178px auto;
  background-repeat: no-repeat;
}
html body .page .sidebar .logo img {
  height: 40px;
  margin: 0 auto;
  vertical-align: middle;
}
html body .page .sidebar .menu {
  padding-left: 60px;
  padding: 0 30px 30px;
  margin: 25px 0 0;
  list-style-type: none;
  transition: 0.4s;
}
html body .page .sidebar .menu li {
  height: 45px;
  line-height: 45px;
  border-bottom: 1px solid #313437;
  font-size: 0;
  color: #979898;
  overflow: hidden;
  cursor: pointer;
  transition: 0.4s;
}
html body .page .sidebar .menu li i {
  font-size: 14px;
  margin-right: 10px;
}
html body .page .sidebar .menu li span {
  font-size: 14px;
  color: inherit;
}
html body .page .sidebar .menu li a,
html body .page .sidebar .menu li a:visited {
  color: inherit;
  text-decoration: none;
  font-size: 14px;
}
html body .page .sidebar .menu li:hover {
  color: white;
}
html body .page .sidebar-collaps {
  width: 80px;
}
html body .page .sidebar-collaps .logo {
  background: url(../images/logo_small.svg) center;
  background-size: 40px auto;
  background-repeat: no-repeat;
}
html body .page .sidebar-dropdown {
  height: auto;
  max-height: 1600px;
  transition: 1s ease-out;
  /* 此处应有掌声 */
}
html body .page .page-body {
  position: relative;
  margin-left: 280px;
  height: inherit;
  min-height: 100%;
  transition: 0.4s;
}
@media screen and (max-width: 1024px) {
  html body .page .page-body {
    margin-left: 0;
  }
}
html body .page .page-body .navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  line-height: 80px;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.03);
  overflow: hidden;
  z-index: 998;
}
@media screen and (max-width: 1024px) {
  html body .page .page-body .navbar {
    width: 70px;
    right: 0;
    background: transparent;
    z-index: 1000;
  }
}
html body .page .page-body .navbar .toggler {
  float: left;
  width: 40px;
  height: 40px;
  margin: 20px 15px;
  line-height: 40px;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  opacity: 0.6;
  transition: 0.4s;
}
@media screen and (max-width: 1024px) {
  html body .page .page-body .navbar .toggler {
    color: white;
  }
}
html body .page .page-body .navbar .toggler:hover {
  opacity: 1;
  color: #0cf;
}
html body .page .page-body .navbar .toggler i {
  font-size: 14px;
}
html body .page .page-body .navbar ul {
  display: block;
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
html body .page .page-body .navbar ul li {
  float: left;
  color: #2c2e2f;
  padding: 0 20px;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  opacity: 0.6;
  transition: 0.4s;
}
html body .page .page-body .navbar ul li a {
  color: #2c2e2f;
}
html body .page .page-body .navbar ul li:hover {
  opacity: 1;
  border-bottom: 1px solid #0cf;
}
html body .page .page-body .content {
  padding: 125px 20px 50px 50px;
}
html body .page .page-body .content .catagory .catagory-title {
  position: relative;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}
html body .page .page-body .content .catagory .catagory-title::before {
  position: absolute;
  top: 4px;
  left: -22px;
  content: '\ec9a';
  font-family: 'remixicon';
}
html body .page .page-body .content .catagory .card-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 20px 0 30px;
  padding: 0;
}
html body .page .page-body .content .catagory .card-list li {
  cursor: pointer;
  width: 25%;
}
@media screen and (max-width: 1024px) {
  html body .page .page-body .content .catagory .card-list li {
    width: 100%;
  }
}
html body .page .page-body .content .catagory .card-list li .card-item {
  position: relative;
  margin-right: 20px;
  margin-bottom: 20px;
  transition: 0.4s;
}
html body .page .page-body .content .catagory .card-list li .card-item:hover {
  margin-top: -5px;
  box-shadow: 0 26px 40px -24px rgba(0, 36, 100, 0.3);
}
html body .page .page-body .content .catagory .card-list li .card-item .card-content {
  display: flex;
  padding: 15px;
  height: 50px;
  background: white;
  border-radius: 5px;
  border: 1px solid #e4ecf3;
  transition: 0.4s;
}
html body .page .page-body .content .catagory .card-list li .card-item .card-content .icon {
  min-width: 44px;
  height: 44px;
  background-size: 44px;
  border-radius: 2px;
}
html body .page .page-body .content .catagory .card-list li .card-item .card-content .info {
  flex: 1;
  margin-left: 15px;
  overflow: hidden;
}
html body .page .page-body .content .catagory .card-list li .card-item .card-content .info h2 {
  margin: 0 0 5px;
  font-size: 13px;
}
html body .page .page-body .content .catagory .card-list li .card-item .card-content .info p {
  display: block;
  margin: 0;
  color: #979898;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
html body .page .page-body .footer {
  padding: 30px;
  font-size: 12px;
  font-weight: 400;
  color: #2c2e2f;
  background: white;
  border-top: 1px solid #e4ecf3;
}
html body .page .page-body .footer span {
  color: #979898;
  margin-right: 10px;
}
html body .page .page-body-collaps {
  margin-left: 80px;
}
/* override sweetalert2 style */
.swal2-modal {
  box-shadow: 0 10px 80px rgba(0, 0, 0, 0.2);
}
.swal2-popup .swal2-styled:focus {
  box-shadow: none !important;
}
.swal2-title {
  font-size: 22px !important;
  font-weight: normal !important;
}
.swal2-content {
  font-size: 14px !important;
  font-weight: normal !important;
}
.swal2-actions {
  font-size: 12px !important;
}
.swal2-footer {
  font-size: 12px !important;
  font-weight: normal !important;
}
.swal2-confirm {
  background-color: #09f !important;
}
.swal2-cancel {
  background-color: #ccc !important;
}
.swal2-close {
  font-weight: bold !important;
  transform: scale(0.5) rotate(0deg) !important;
  transition: 0.4s !important;
}
.swal2-close:hover {
  font-weight: bold !important;
  transform: scale(0.5) rotate(180deg) !important;
}
.swal2-container.swal2-shown {
  background: rgba(0, 0, 0, 0.2) !important;
}
.swal2-file,
.swal2-input,
.swal2-textarea {
  width: 80% !important;
  font-size: 13px !important;
  padding: 10px !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, "Microsoft YaHei", "PingFang SC", "Hiragino Sans GB", SimSun, sans-serif !important;
}
.swal2-file:focus,
.swal2-input:focus,
.swal2-textarea:focus {
  border: 1px solid #09f !important;
  box-shadow: 0 0 4px rgba(0, 153, 255, 0.2) !important;
}
.swal2-icon {
  width: 32px !important;
  height: 32px !important;
  margin: 10px auto !important;
}
.swal2-icon:before {
  font-size: 26px !important;
  font-weight: bold !important;
}
.swal2-image {
  background-color: #f2f2f2;
  border-radius: 2px !important;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.04) !important;
}
