@dark: #2c2e2f;
@grey: #979898;
@blue: #1A8CFF;
@light-grey: #f9f9f9;
@light-blue: #0cf;
@dark-line: 1px solid #313437;
@dur:  0.4s;
@side-width: 280px;
@header-height: 80px;
@icon-size: 44px;
@light-line: 1px solid #e4ecf3;
@nav-alpha: .6;


a, a:visited { color: @dark; text-decoration: none; }
a:hover, a:active { color: @blue; }


html {
    height: 100%; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, "Microsoft YaHei", "PingFang SC", "Hiragino Sans GB", SimSun, sans-serif;
    body {
        height: 100%; margin: 0; font-size: 13px; background: @light-grey;
        a, a:visited { color: @dark; text-decoration: none; }
        .page {
            height: inherit;
            .sidebar {
                position:fixed; left: 0; top: 0; width: @side-width; color: @grey; background: @dark; z-index: 999; overflow: hidden; transition: @dur; height: 100%;
                @media screen and (max-width: 1024px) { width: 100%; height: 80px; }
                .logo {
                    height: @header-height; line-height: @header-height; font-size: 0; border-bottom: @dark-line; text-align: center;
                    img { height: 40px; margin: 0 auto; vertical-align: middle; }
                }
                .menu {
                    margin: 25px 0 0; padding:0 30px 30px; padding-left: 60px; list-style-type: none; transition: @dur;
                    li {
                        height: 45px; line-height: 45px; border-bottom: @dark-line; font-size: 0; color: @grey; overflow: hidden; cursor: pointer; transition: @dur;
                        i { font-size: 14px; margin-right: 10px; }
                        span { font-size: 14px; color: inherit; }
                        a, a:visited { color: inherit; text-decoration: none; font-size: 14px; }
                        &:hover { color: white; }
                    }
                }
            }
            .page-body {
                position: relative; margin-left: @side-width; height: inherit; min-height: 100%; transition: @dur;
                @media screen and (max-width: 1024px) { margin-left: 0; }
                .navbar {
                    position: fixed; top: 0; width: 100%; height: @header-height; line-height: @header-height; background: white; box-shadow: 0 2px 4px rgba(0,0,0,.03); overflow: hidden; z-index: 998;
                    @media screen and (max-width: 1024px) { width: 70px; right: 0; background: transparent; z-index: 1000; }
                    .toggler {
                        float: left; width: 40px; height: 40px; margin: 20px 15px; line-height: 40px; text-align: center; font-weight: 700; cursor: pointer; opacity: @nav-alpha; transition: @dur;
                        @media screen and (max-width: 1024px) { color: white; }
                        &:hover { opacity: 1; color: @light-blue; }
                        i { font-size: 14px; }
                    }
                    ul {
                        display: block; float: left; list-style-type: none; margin: 0; padding: 0; overflow: hidden;
                        li {
                            float: left; color: @dark; padding: 0 20px; cursor: pointer; border-bottom: 1px solid transparent; opacity: @nav-alpha; transition: @dur;
                            a { color: @dark; }
                            &:hover { opacity: 1; border-bottom: 1px solid @light-blue; }
                        }
                    }
                }
                .content {
                    padding: 125px 20px 50px 50px;
                    @media screen and (max-width: 1024px) { padding: 180px 20px 50px 50px; }
                    .catagory {
                        .catagory-title {
                            position: relative; margin: 0; font-size: 16px; font-weight: 400;
                            &::before { position: absolute; top: 4px; left: -22px; content: '\ec9a'; font-family: 'remixicon'; }
                        }
                        .card-list {
                            display: flex; flex-wrap: wrap; list-style-type: none; margin: 20px 0 30px; padding: 0;
                            li {
                                cursor: pointer; width: 25%;
                                @media screen and (max-width: 1024px) { width: 100%; }
                                .card-item {
                                    position: relative; margin-right: 20px; margin-bottom: 20px; transition: @dur;
                                    &:hover { margin-top: -5px; box-shadow: 0 26px 40px -24px rgba(0, 36, 100, 0.3); }
                                    .card-content {
                                        display: flex; padding: 15px; height: 50px; background: white; border-radius: 5px; border: @light-line; transition: @dur;
                                        .icon { min-width: @icon-size; height: @icon-size; background-size: @icon-size; border-radius: 2px; }
                                        .info {
                                            flex: 1; margin-left: 15px; overflow: hidden;
                                            h2 { margin: 0 0 5px; font-size: 13px; }
                                            p  { display: block; margin: 0; color: @grey; overflow: hidden; text-overflow:ellipsis; white-space: nowrap; }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .footer {
                    padding: 30px; font-size: 12px; font-weight: 700; color: @dark; background: white; border-top: @light-line;
                    span { color: @grey; margin-right: 10px; }
                }
            }
        }
    }
}


.swal2-title   { font-size: 20px !important; font-weight: normal !important; }
.swal2-content { font-size: 14px !important; font-weight: normal !important; }
.swal2-actions { font-size: 14px !important; }
.swal2-footer  { font-size: 12px !important; font-weight: normal !important; }